<t name="Contact Us" t-name="website.contactus">
  <t t-call="website.layout">
    <div id="wrap">
      <div class="oe_structure">
        <section class="pt8 pb8">
          <div class="container">
            <div class="row s_nb_column_fixed">
              <div class="col-lg-12 s_title pt16 pb16">
                <h1>
                  <font style="color: rgb(66, 66, 66);">
                    <b>Contact us</b>
                  </font>
                </h1>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="container mt-2">
        <div class="row">
          <div class="col-lg-8">
            <div class="oe_structure">
              <section class="s_text_block">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                                                                Contact us about anything related to our company or services.<br/>
                                                                We'll do our best to get back to you as soon as possible.
                                                            </p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="text-center my-3" name="mail_button">
              <a role="button" t-attf-href="mailto:{{ res_company.email }}" class="btn btn-primary" id="o_contact_mail">Send us an email</a>
            </div>
          </div>
          <div class="col-lg-4">
              <span style="color: rgb(44, 57, 120);font-weight:600; font-size: 24px;"> GSTIN: 33AADCE9083H1ZJ</span>
              <br/>
            <span style="color: rgb(44, 57, 120);font-weight:600; font-size: 30px;"> Head Office</span>
            <br/>
            
            <br/>
            <t t-call="website.company_description"/>
            <p class="lead">
              <b>
                <span style="color: rgb(44, 57, 120);font-weight:600; font-size: 30px;"> EMS Office</span>
              </b>
              <span style="color: rgb(44, 57, 120); font-size: 36px;">
                <b>&amp;nbsp;<br/>
                </b>
              </span>
              <span style="color: rgb(99, 99, 99); font-size: 15px;">
                <span class="fa fa-fw fa-map-marker" role="img" aria-label="Phone" title="Phone" style="font-size: 15px; width: 1.28571em;"/>
                <b>No. 60,&amp;nbsp; Pioneer Mill Road, Peelamedu,<br/>Coimbatore 641 004<br/></b>
              </span>
              <font style="color: rgb(99, 99, 99);"/>
              <span style="color: rgb(99, 99, 99); font-size: 15px;">
                <b>Tamilnadu&amp;nbsp;</b>
                <b>
                  <br/>
                </b>
                <b>India<br/></b>
                <b/>
              </span>
            </p>
            <p><span class="fa fa-envelope fa-fw" role="img" aria-label="Email" title="Email" style="width: 1.28571em;"/>&amp;nbsp;<span itemprop="email" style="color: rgb(99, 99, 99);">info@enthutech.in</span></p>
          </div>
        </div>
      </div>
      <div class="oe_structure mt-2">
        <section class="policies-note-snippet" style="">
          <div class="container-fluid">
            <div class="row no-gutters">
              <div class="col-lg-12 pt0 pb24" style="text-align: center; background-color: rgb(8, 82, 148);">
                <font style="color: rgb(255, 255, 255); font-size: 18px;">
                  <br/>
                </font>
                <font style="color: rgb(255, 255, 255); font-size: 24px;">Contact below mentioned Directly for avoiding delay in response</font>
              </div>
            </div>
          </div>
        </section>
        <section class="s_company_team pb16" style="">
          <div class="container">
            <div class="row s_nb_column_fixed">
              <div class="col-lg-6 pt16 pb16">
                <div class="row s_col_no_resize s_col_no_bgcolor">
                  <div class="col-lg-4 ">
                    <img alt="Company team" src="/web/image/4450/Support.png" class="img-fluid d-block mx-auto rounded-circle" data-original-title="" title="" aria-describedby="tooltip932710" style="-webkit-transform: scaleX(0.7)  scaleY(0.69);-moz-transform: scaleX(0.7)  scaleY(0.69);-ms-transform: scaleX(0.7)  scaleY(0.69);-o-transform: scaleX(0.7)  scaleY(0.69);transform: scaleX(0.7)  scaleY(0.69)"/>
                  </div>
                  <div class="col-lg-8">
                    <h4>
                      <font class="text-alpha" style="">IoT Products</font>
                    </h4>
                    <h4>
                      <span style="color: rgb(44, 57, 120); font-size: 18px;">
                        <b>Moorthi K</b>
                      </span>
                      <br/>
                    </h4>
                    <p class="text-muted"><b><font style="color: rgb(66, 66, 66);">Mobile :</font></b> +91 9940707197&amp;nbsp;</p>
                    <p class="text-muted"><b><font style="color: rgb(66, 66, 66);">Sales Enquiry:</font></b> sales@enthutech.in</p>
                    <p class="text-muted"><b><font style="color: rgb(66, 66, 66);">Support:</font></b> iotsupport@enthutech.in<br/></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 pt16 pb16">
                <div class="row s_col_no_resize s_col_no_bgcolor">
                  <div class="col-lg-4 ">
                    <img alt="Company team" src="/web/image/4450/Support.png" class="img-fluid d-block mx-auto rounded-circle" data-original-title="" title="" aria-describedby="tooltip243291" style="transform: scaleX(0.69) scaleY(0.72);"/>
                  </div>
                  <div class="col-lg-8">
                    <h4>
                      <font class="text-alpha" style="">IoT Solutions</font>
                    </h4>
                    <h4>
                      <font color="#2c3978">
                        <span style="font-size: 18px;">
                          <b>Shanmugam K</b>
                        </span>
                      </font>
                      <br/>
                    </h4>
                    <p class="text-muted"><b><font style="color: rgb(66, 66, 66);">Mobile :</font></b> +91 9788859662<br/></p>
                    <p class="text-muted"><b><font style="color: rgb(66, 66, 66);">Sales Enquiry:</font></b> sales@enthutech.in</p>
                    <p class="text-muted"><b><font style="color: rgb(66, 66, 66);">Support:</font></b> iotsupport@enthutech.in<br/></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 pt16 pb16">
                <div class="row s_col_no_resize s_col_no_bgcolor">
                  <div class="col-lg-4 ">
                    <img alt="Company team" src="/web/image/4450/Support.png" class="img-fluid rounded-circle d-block mx-auto" data-original-title="" title="" aria-describedby="tooltip368543" style="-webkit-transform: scaleX(0.73)  scaleY(0.71);-moz-transform: scaleX(0.73)  scaleY(0.71);-ms-transform: scaleX(0.73)  scaleY(0.71);-o-transform: scaleX(0.73)  scaleY(0.71);transform: scaleX(0.73)  scaleY(0.71)"/>
                  </div>
                  <div class="col-lg-8">
                    <h4>
                      <font class="text-alpha" style="">IoT Consultancy</font>
                    </h4>
                    <h4>
                      <font color="#2c3978">
                        <span style="font-size: 18px;">
                          <b>Rathinasamy K S</b>
                        </span>
                      </font>
                      <br/>
                    </h4>
                    <p class="text-muted"><b><font style="color: rgb(66, 66, 66);">Mobile :</font></b> +91 9500002688<br/></p>
                    <p class="text-muted"><b><font style="color: rgb(66, 66, 66);">Sales Enquiry:</font></b> sales@enthutech.in</p>
                    <p class="text-muted"><b><font style="color: rgb(66, 66, 66);">Support:</font></b> iotsupport@enthutech.in<br/></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 pt16 pb16">
                <div class="row s_col_no_resize s_col_no_bgcolor">
                  <div class="col-lg-4 ">
                    <img alt="Company team" src="/web/image/4450/Support.png" class="img-fluid rounded-circle d-block mx-auto" data-original-title="" title="" aria-describedby="tooltip365801" style="transform: scaleX(0.72) scaleY(0.71);"/>
                  </div>
                  <div class="col-lg-8">
                    <h4>
                      <font class="text-alpha" style="">EMS Products &amp;amp; Services</font>
                    </h4>
                    <h4>
                      <span style="color: rgb(44, 57, 120); font-size: 18px;">
                        <b>Gowrisankar P</b>
                      </span>
                      <br/>
                    </h4>
                    <p class="text-muted"><b><font style="color: rgb(66, 66, 66);">Mobile :</font></b> +91 9940716782&amp;nbsp;<br/></p>
                    <p class="text-muted"><b><font style="color: rgb(66, 66, 66);">Sales Enquiry:</font></b> sales@enthutech.in</p>
                    <p class="text-muted"><b><font style="color: rgb(66, 66, 66);">Support:</font></b> support@enthutech.in<br/></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 pt16 pb16">
                <div class="row s_col_no_resize s_col_no_bgcolor">
                  <div class="col-lg-4 ">
                    <img alt="Company team" src="/web/image/4450/Support.png" class="img-fluid rounded-circle d-block mx-auto" data-original-title="" title="" aria-describedby="tooltip761266" style="transform: scaleX(0.75) scaleY(0.72);"/>
                  </div>
                  <div class="col-lg-8">
                    <h4>
                      <font class="text-alpha" style="">Training &amp;amp; Academic Services</font>
                    </h4>
                    <h4>
                      <span style="color: rgb(44, 57, 120); font-size: 18px;">
                        <b>Gowtham Raj G</b>
                      </span>
                      <br/>
                    </h4>
                    <p class="text-muted"><font style="color: rgb(66, 66, 66);"><b>Mobile :</b></font> +91 9444931347<br/></p>
                    <p class="text-muted"><b><font style="color: rgb(66, 66, 66);">Training Enquiry:</font></b> sales@enthutech.in&amp;nbsp;<br/></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </t>
</t>

                         




       




